body {
  height: 6000px;
}

.midashi {
  height: 600px;
  text-align: center;
  font-size: 80px;
  
  
}

.goods1 {
  background-color: #ff6b6b;
  color: #f7fff7;
  height: 2500px;
}

.goods2 {
  background-color: #ffe66d;
  color: #1a535c;
  height: 2500px;
}