.midashi {
  height: 600px;
  text-align: center;
  font-size: 80px;
  position: relative;
  bottom: -400px;
  color: #1a535c;
}

.under {
  border-bottom: dashed 3px #1a535c;
}

.group {
  font-size: 65px;
  position: absolute;
  top: 900px;
  right: 20%;
  transform: translate(25%);
  color: #1a535c;
}

.groupcon {
  font-size: 45px;
  line-height: 110px;
  width: 80%;
  position: absolute;
  top: 1100px;
  right: 20%;
  transform: translate(15%);
  color: #1a535c;
}