body {
  width: 100%
}

.midashi {
  height: 600px;
  text-align: center;
  font-size: 80px;
  position: relative;
  bottom: -400px;
  color: #1a535c;
}

.under {
  border-bottom: dashed 3px #1a535c;
}

main li {
  list-style: none;
  color: #1a535c;
  width: 500px;
  margin-top: 40px;
  padding: 10px;
}

.data {
  color: #4ecdc4;
  font-size: 50px;
  position: relative;
  top: -270px;
  left: 400px;
}

.text {
  color: #1a535c;
  font-size: 55px;
  position: relative;
  top: -250px;
  left: 400px;
  width: 60%;
}

#list1,#list2,#list3,#list4,#list5,#list6,#list7,#list8,#list9,#list10,#list11,#list12,#list13,#list14,#list15,#list16,#list17,#list18 {
  display: inline-block;
  width: 90%;
}

.button {
  background: rgba(247,255,247,0.5);
  height: 300px;
}

.content {
  font-size: 40px;
  padding: 30px 20px;
  line-height: 80px;
  background: rgba(26,83,92,0.5);
  color: #F7FFF7;
}

a {
  color: #F7FFF7;
}