  body {
    margin: 0;
    height: 5000px;
  }

  #hamnav {
    top: -500px;
    position: fixed;
    width: 100%;
    background-color: #4ecdc4;
    z-index: 500;
    height: 350px;
    transition: all .5s ease-out 0s;
    padding: 20px 0;
  }

  .hamul {
    height: 300px;
    width: 100%;
    text-align: center;
  }

  .hamli {
    display: block;
  }

  .hamli a {
    color: #fefefe;
    font-size: 40px;
    line-height: 65px;
  }


  /* ハンバーガー部分記述 */

  .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 0px 0 0px;
    width: 100px;
    height: 100px;
    z-index: 500;
    cursor: pointer;
    background-color: #1a535c;
    border-radius: 60px;
    margin: 5px;
    transition: all .5s ease-out 0s;
  }

  .hamburger_line {
    position: absolute;
    left: 20px;
    margin-top: 25px;
    width: 60px;
    height: 6px;
    background-color: #fefefe;
    transition: all .3s;
  }

  .hamburger_line2 {
    margin-top: 45px;
    opacity: 1;
  }

  .hamburger_line3 {
    margin-top: 65px;
  }


  /* ハンバーガーが押されたとき */

  .nav_open #hamnav {
    top: 0;
  }

  .nav_open .hamburger {
    background-color: #fefefe;
  }

  .nav_open .hamburger_line1 {
    top: 20px;
    transform: rotate(-45deg);
    background-color: #222;
  }

  .nav_open .hamburger_line2 {
    background-color: #222;
    left: 30px;
    opacity: 0;
  }

  .nav_open .hamburger_line3 {
    transform: rotate(45deg);
    background-color: #222;
    top: -18;
  }


  /*タブレット・スマホ用ヘッダー終了*/


  footer {
    font-size: 45px;
    height: 500px;
    background-color: #4ecdc4;
    color: #f7fff7;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 4900px;
  }

  #phone_top {
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translate(-50%);
  }


  .logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 150px;
  }

  #hamnav {
    height: 300px;
  }

  .hamul {
    height: 250px;
  }

  .hamli a {
    font-size: 40px;
    line-height: 65px;
    text-decoration: none;
  }

  .hamli a:hover {
    font-size: 50px;
  }

  .catchcopy {
    width: 540px;
    font-size: 80px;
    color: #1a535c;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 1600px;
  }

  .intro {
    width: 950px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 1000px;
    line-height: 110px;
    color: #1a535c;
  }

  .youtube {
    text-decoration-line: none;
  }

.pageimg {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 3100px;
}

.page {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 3200px;
}

.back {
  position: absolute;
  width: 100%;
  height: 1200px;
  background-color: #4ecdc4;
}

.blue_circle {
  position: absolute;
  top: 700px;
  width: 100%;
  height: 1000px;
  border-radius: 50%;
  background-color: #4ecdc4;
  z-index: -1;
}